.card-top, .card-content{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 0px;
}
.card-title{
    cursor: pointer;
}
.sidebar li:nth-child(3){
    background-color: #EFF0F1;
    border-right: 3px solid #f48024;
    font-weight: bold;
}
.quecontent{
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #F48024;
    border-color: #F48024;
}
.page-item .page-link {
    z-index: 1;
    color: #000000;
}
small{
    display: inline-block;
}
.photo-profile{
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 3px;
}
