.card-top{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
.sidebar li:nth-child(3){
    background-color: #EFF0F1;
    border-right: 3px solid #f48024;
    font-weight: bold;
}
.quetitle, .quecontent, .anscontent, .comcontent{
    word-wrap: break-word;
}
