.card-top, .card-content{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 0px;
}
.card-title{
    cursor: pointer;
}
.sidebar li:nth-child(1){
    background-color: #EFF0F1;
    border-right: 3px solid #f48024;
    font-weight: bold;
}
